.inlineHotkey {
  cursor: pointer;
  transition: color 0.1s ease-in-out, opacity 0.1s ease-in-out;

  &:hover, &:focus-visible {
    &:not(.blocked) {
      color: var(--color-primary);
    }
  }
}

.blocked {
  opacity: 0.5;
  cursor: not-allowed;
}

.alert {
  font-weight: bold;
  text-decoration: underline;
  text-decoration-skip-ink: auto;
  text-underline-offset: 0.3em;
}