.homePage {
  h1 {
    max-width: 30ch;
  }

  > p {
    text-align: center;
    text-wrap: pretty;
  }

  ul {
    width: clamp(20rem, 100%, 25rem);

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0;

    list-style: none;
  }
}